header {
    background-color: #ffffff;  
    color: #000000;  
    padding: 10px 0;  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

nav ul li {
    display: inline;
    margin-right: 20px;  
}

.home-link {
    float: left; /* make HOME on left */
    margin-right: 20px;  
}

nav ul li a {
    font-family: "Open Sans", sans-serif;
    color: #000000;  
    text-decoration: none;
    padding: 10px 20px; 
}

nav ul li a:hover {
    background-color: #dddddd;
}

 
.homepage {
    background-image: url('./images/title_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mr2_title {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.mr2_title h2 {
    font-family: "Roboto", sans-serif;  
    font-size: 9em;  
    text-align: center;
}

.white-text {
    color: white;
}

.red-text {
    color: red;
}

.image-container {
    position: relative;
}

.image-container img {
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
}
 
.aw11 {
    position: relative;
  
    left: 0;
    
    width: 50%;
}

.sw20 {
    position: relative;
   
    
    width: 50%;
}

.mrs {
    position: relative;
    width: 50%;
   
}


 

/*.firstgenbackgroundwhite {
 /   background-color: white; /* White background color */
 /*   width: 100%; /* span the width of the page */
 /* height: 50vh; /* Adjust height as needed */
 /*   position: absolute;
 ?*   top: calc(50vh + 50px); /* Position below the grey background */
/*}
*/

.centre{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5%;  
    margin-right: 0.5%; 
}
 
.firstgen {
 
    width: 100%; /* span the width of the page */
}

#first_generation_title {
    position: absolute;
    top: 15%;
    left: 76.3%;
    transform: translate(-50%, -50%);
    z-index: 1;  
}

#first_generation_title h2 {
    font-family: "Trebuchet MS", sans-serif; 
    font-size: 6em;  
    text-align: left;
}

.bodytext {
    text-align: center;
    width: 100%;
    background-image:  url("./images/grey_background.jpg");
}

.bodytext h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8;  
    text-align: center;
    
}

.column {
    flex: 33%
  }
  
 
  .row {
    display: flex;
    
  }

.aw11 {
    
    position: absolute;
    margin-top: 28%;
    left: 50%;
     
    z-index: 1;  
}


.aw11 h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.5rem;  
    text-align: left;
}

 


.changes h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.5rem;  
    text-align: left;
}

 
.image-container4 {
    position: relative;
}



 
.column {
    padding: 0 10px;  
}

.column img {
    max-width: 100%;   
    height: auto;  
    display: block;  
    margin: 0 auto;  
    
    }


.flex-container {
    display: flex;
}
    

.image-container3 {
   flex: -1;  
}
    
.bodytextsecond {
    flex: 1; 
    margin-left: 380px;  
}
 


.secondgen {
    position: absolute;
    top: 10;
    left: 0;
    width: 29%;  
    height: auto;  
}


.bodytextsecond {
    text-align: center;
    width: 100%;
    background-image:  url("./images/grey_background.jpg");
   
}

.bodytextsecond h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5;  
    text-align: center;
}

.generation-title {
    font-size: 30px; 
    left: 20%;
}


 
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
