header {
    background-color: #ffffff;  
    color: #000000;  
    padding: 5px 0;  
    z-index: 1;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

nav ul li {
    display: inline;
    margin-right: 20px;  
}

.home-link {
    float: left; /* make HOME on left */
    margin-right: 20px;  
}

nav ul li a {
    font-family: "Open Sans", sans-serif;
    color: #000000;  
    text-decoration: none;
    padding: 10px 20px; 
}

nav ul li a:hover {
    background-color: #dddddd;
}

 

html {
    height: 100%; /* get rid of whitespace at bottom*/
}
 
.homepage {
    background-image: url('./images/title_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}

.mr2_title {
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    position: relative; 
    top: 0;
    width: 100%;  
}

.mr2_title h2 {
    font-family: "Roboto", sans-serif;  
    font-size: 10em;  
    text-align: center;  
    line-height: 0.95;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);  
}


.red-text {
    color: red;
   
}

.image-container {
    position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    display: flex;
    justify-content: space-around;  
    overflow-x: hidden;
}


.image-container img {
    transition: transform 0.3s ease;
    max-width: 100%;
    
}


.image-container img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
}

 

.image-container-sw20 img {
    transition: transform 0.3s ease;
}

.image-container-sw20 img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
}


.aw11 {
    position: relative;
    width: 99%;  
    left: 5%;
    overflow-x: hidden;
}

.sw20 {
    position: absolute;
    bottom: 30%;  
    left: 33%;  
    width: 27%;  
    overflow-x: hidden;
}

.mrs {
    position: relative; 
    bottom: -13%;
    right: 0;
    left: 1%;
    width: 75%; 
    overflow-x: hidden;
}
  
.white-text {
    color: white;
}

.centre {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5%;  
    margin-right: 0.5%; 
}
 
.firstgen {
    top: 50%;
    width: 100vw;  
    height: auto;  
    display: block; 
    margin: 0; 
    padding-left: 1%;
    padding-right: 1%;
}

#first_generation_title {
    position: absolute;
    top: 30%; 
    left: 76.3%; 
    transform: translate(-50%, -50%);
}

#first_generation_title h2 {
    font-family: "Roboto", sans-serif; 
    font-size: 6.5vw;  
    text-align: left; 
    line-height: 1.2; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);  
}

.bodytext {
    text-align: center;
    width: 100%;
    background-color:#eae6e6ae;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
}

.bodytext h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8;  
    text-align: center;
    
}

.aw11-title {
    font-size: 3em;  
    margin: 0;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.aw11-paragraph {
    font-family: "Trebuchet MS", sans-serif; 
    font-size: 1.4em;  
}

.column {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color:  #f5f5f5;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    font-family: "Trebuchet MS", sans-serif; 
    font-size: 1.4em;  
}

.column:hover {
    transform: scale(1.05); /* Increase the scale on hover */
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.changes h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.5rem;  
    text-align: left;
}
 
.image-container4 {
    position: relative;
}

.column {
    padding: 0 10px;  
    
}

.column img {
    max-width: 100%;   
    height: auto;  
    display: block;  
    margin: 0 auto;  
    
}

.column:hover {
  cursor: pointer;
}
 
.image-container3 {
    align-self: flex-start; /* Align the image to the start (top) of the container */
    margin-bottom: auto;  
}

.secondgen {
    position: absolute;
    
    left: 0;
    width: 27%;  
    height: 77.75%;
    padding-left: 1%;

 
}

.second-gen-container {
    display: flex;  
    
    align-items: center;  
}

.generation-title {
  font-size: 50px; 
  left: 20%;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif; 
}

.bodytextsecond {
  text-align: center;
  background-color:  #f5f5f5; 
  width: 100%; 
  padding-left: 30%;  
  padding-right: 4%; 
  
    flex-grow: 1;
  box-sizing: border-box; 
 
  
}

.bodytextsecond h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem; /* Changed to rem for consistency */
    text-align: center;
    font-weight: 300;
}

 
/* Define entrance animation */
@keyframes popupEntrance {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Define exit animation */
  @keyframes popupExit {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.5);
    }
  }
  
  /* Apply animation to popup */
  .popup-content {
    animation: popupEntrance 0.5s forwards; /* Apply entrance animation */
  }
  
  .popup.hidden {
    animation: popupExit 0.5s forwards; /* Apply exit animation */
  }

/* Inspiration taken from https://www.sliderrevolution.com/resources/css-timeline/*/
body {
    font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
  }
  
  #timeline {
    display: flex;
    background-color: #ff3030;
    margin-top: 20px; 
    &:hover {
      .tl-item {
        width: 23.3333%;
      }
    }
  }
  
  .tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
  
    &:before,
    &:after {
      transform: translate3d(0, 0, 0);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    
  
    &:after {
      background: transparentize(#e0251b, 0.15);
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  
    &:before {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 75%
      );
      z-index: 1;
      opacity: 0;
      transform: translate3d(0, 0, 0) translateY(50%);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  
    &:hover {
      width: 30% !important;
  
      &:after {
        opacity: 0;
      }
  
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0) translateY(0);
        transition: opacity 1s ease, transform 1s ease 0.25s;
      }
  
      .tl-content {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.75s ease 0.5s;
      }
  
      .tl-bg {
        filter: grayscale(0);
      }
    }
  }
  
  .tl-item:nth-child(odd):hover .tl-content {
    color: #fff; /* Change revision info text colour to white on hover over white columns */
  }
  
 

  .tl-item:nth-child(odd) {
    background-color: #f5f5f5; /* Light gray for odd numbered items */
    color: #000;  
  }
  
  .tl-item:nth-child(even) {
    background-color: #464646; /* Dark gray for even numbered items */
    color: #fff;  
  }
  
  .tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
  
    h1 {
      font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial,
        sans-serif;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 1.9rem;
      font-weight: bold;
    }
  }
  
  .tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  
    p {
      font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial,
        sans-serif;
      font-size: 1.728rem;
      line-height: 0;
    }
  }

  .tl-item:nth-child(even) .tl-year {
    border-top: 1px solid #fff; /* Set top - colour to white for odd items */
    border-bottom: 1px solid #fff;  
  }
  
  .tl-item:nth-child(odd) .tl-year {
    border-top: 1px solid #000; /* Set top - colour to black for even items */
    border-bottom: 1px solid #000;  
  }

  .tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
  }

  .tl-item:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
  }

/* Inspiration taken from Jemima Abu, webdesign.tuts */
.slider-wrapper {
    margin: 0; 
    position: relative;
    overflow: hidden;
    padding: 0;
}
  
.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    scroll-behavior: smooth;
}
  
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
  }
  
  /* WebKit */
  .slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
    padding: 0;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the entire container */
    object-position: center top; /* Adjusts the positioning to crop more from the top */
}

.slide-indicators {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .slide-indicator {
    width: 10px;
    height: 10px;
    background-color: #fffefe; /* Default color of the indicators */
    margin: 0 5px; /* The spacing between indicators */
    border-radius: 50%;
    z-index: 1;
  }
  
  .active-slide {
    background-color: #4d4c4c; /* Color of the active indicator */
  }

.column-thirdgen {
    position: relative;
    flex: 33%
}
  
.row-thirdgen {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 7px;
}

.changes h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.5rem;  
    text-align: left;
}
 
.image-container4 {
    position: relative;
    
}

.column-thirdgen img {
    max-width: 100%;   
    height: auto;  
    display: block;  
    margin: 0 auto;  
  }
  
.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%);  
    color: rgb(255, 255, 255);  
    padding: 10px 20px; 
    border-radius: 5px;  
    font-weight: bold;  
    font-size: 2.3vw;
    font-family: "Comic Sans", sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);  
}
  

 .popup {
    display: none;
    position: fixed;
    bottom: 35%;
    left: 0;
    top: 2%;
    bottom: 2%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 9999;
    overflow-y: scroll;
    
}

.popup-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 90%;
    text-align: center;
    opacity: 93%;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-content h2 {
    font-family: "Roboto", sans-serif; 
    font-size: 40px; 
}

.popup-content p {
    font-family: "Open Sans", sans-serif; 
    font-size: 30px; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.column-thirdgen img {
    cursor: pointer;
}

.column-thirdgen img {
    max-width: 100%;   
    transition: opacity 0.3s ease;  
}

.column-thirdgen img:hover {
    opacity: 0.8; 
}