header {
    background-color: #ffffff;  
    color: #000000;  
    padding: 10px 0;  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

nav ul li {
    display: inline;
    margin-right: 20px;  
}

.home-link {
    float: left; /* make HOME on left */
    margin-right: 20px;  
}

nav ul li a {
    font-family: "Open Sans", sans-serif;
    color: #000000;  
    text-decoration: none;
    padding: 10px 20px; 
}

nav ul li a:hover {
    background-color: #dddddd;
}

 
.homepage {
    background-image: url('./images/title_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mr2_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.mr2_title h2 {
    font-family: "Roboto", sans-serif;  
    font-size: 9em;  
    text-align: center;
}

.white-text {
    color: white;
}

.red-text {
    color: red;
}

.image-container {
    position: relative;
}

.image-container img {
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
}
 
.aw11 {
    position: absolute;
    bottom: 100%;
    right: 40%;
    transform: translate(-110%, -130%);
    width: 50%;
}

.sw20 {
    position: absolute;
    bottom: 100%;
    right: 40%;
    transform: translate(40%, -130%);
    width: 50%;
}

.mrs {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}


 

/*.firstgenbackgroundwhite {
 /   background-color: white; /* White background color */
 /*   width: 100%; /* span the width of the page */
 /* height: 50vh; /* Adjust height as needed */
 /*   position: absolute;
 ?*   top: calc(50vh + 50px); /* Position below the grey background */
/*}
*/

.centre{
    display:flex;
    align-items: center;
    justify-content: center;
}
 
.firstgen {
 
    width: 100%; /* span the width of the page */
}

#first_generation_title {
    position: absolute;
    top: 15%;
    left: 76.3%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Make sure text is above the image */
}

#first_generation_title h2 {
    font-family: "Trebuchet MS", sans-serif; 
    font-size: 6em;  
    text-align: left;
}

.bodytext {
    text-align: center;
    width: 100%;
    background-image:  url("./images/grey_background.jpg");
    z-index: 1; /* Make sure text is above the image */
}

.bodytext h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8;  
    text-align: center;
}

.column {
    flex: 33%
  }
  
  /* Clear floats after the columns */
  .row {
    display: flex;
  }

.aw11 {
    
    position: absolute;
    margin-top: 28%;
    left: 50%;
     
    z-index: 1; /* Make sure text is above the image */
}


.aw11 h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.5rem;  
    text-align: left;
}

.changes {
   
    /*position: absolute;
    top: 50%;
    left: 50%;*/
     
    z-index: 1; /* Make sure text is above the image */
}


.changes h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.5rem;  
    text-align: left;
}

.secondgenbackground {
    background-image: url('./images/grey_background.jpg');
    background-size: 100%;
    background-position: center calc(50vh - 610px); 
    background-repeat: no-repeat;
    width: 100%; /* span the width of the page */
}

 
.image-container3 {
    position: relative;
}

.secondgen {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;  
    height: auto;  
}

 
.image-container4 {
    position: relative;
}

.secondgen {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%; /* Adjust the width as needed */
    height: 50%; 
}
